<div class="row">
  <div class="col-md-6">
    {{#if logged_in}}
    <h1>Submit a New Post</h1>
    <form class="form newPost">
      <div class="form-group">
        <input class="form-input" style="height: 125x;" id="blogPostTitle" placeholder="Post Title"/>
        <input class="form-input" style="height: 125px;" id="blogPostText" placeholder="Post Text"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>
    {{else}}
    <h2>Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
    {{/if}}
  </div>
  <div class="col-md-6 blogPostSection">
    {{#each blogPosts as |blogPost| }}
      <div class="row mb-4 mainBlogPost" id={{blogPost.id}}>
        <a style="text-decoration: none; color: black">
          <div class="col-md-10">
            <h1>{{blogPost.post_title}}</h1>
            <h5>{{blogPost.post_text}}</h5>
            <p>Posted by {{blogPost.user}} on {{format_date blogPost.date_created}}</p>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
</div>