<div class="row">
  <div class="col-md-6">
    <h1>My Dashboard</h1>
    <form class="form newPost">
        <div class="form-group">
          <input class="form-input" id="blogPostTitle" placeholder="Post Title"/>
        <input class="form-input" id="blogPostText" placeholder="Post Text"/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Post</button>
        </div>
    </form>
  </div>
  <div class="col-md-6 blogPostSection">
    {{#each allMyPosts as |myPost|}}
    <div class="row mb-4 dashBlogPost">
      <button class='deleteButton' index={{myPost.id}}>Delete</button>
      <a style="text-decoration: none; color: black; width: 600px" href='/api/myDashboard/viewPost/{{myPost.id}}'>
        <div index={{myPost.id}}>
            <div class="col-md-10">
              <h1>{{myPost.post_title}}</h1>
              <h5>{{myPost.post_text}}</h5>
              <p>Posted by {{myPost.user}} on {{format_date myPost.date_created}}</p>
            </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>
<script src="/js/userPosts.js"></script>
