<div class="row">
    <div class="col-md-6" id='singlePostSection'>
        <h1>{{post.post_title}}</h1>
        <h4>{{post.post_text}}</h4>
        <h6>Posted by {{post.user.name}} on {{format_date post.date_created}}</h6>
    </div>
    <div class="col-md-6">
        {{#each comments as |comment|}}
        <div class="comment">
            <h5>{{comment.comment_text}}</h5>
            <h6>Posted by {{comment.user.name}} on {{format_date comment.date_created}}</h6>
        </div>
        <br>
        {{/each}}
        <div>
            {{#if logged_in}}
            <form id='addNewComment'>
                <input  class='commentInput' id="comment-input">
                <button id="postCommentButton">Post</button>
            </form>
            {{else}}
            <div>
                <h1>Please login to comment!</h1>
            </div>
            {{/if}}
        </div>
    </div>
</div>